
<!--Paging allow-->
<ejs-grid [dataSource]='data' 
[allowPaging]='true' 
[allowSorting]='true' 
[allowFiltering]='true' 
[filterSettings]='filterSettings' 
[pageSettings]='pageSettings'
[selectionSettings]='selectionOptions'>
  <e-columns>
      <e-column type='checkbox' width='50'></e-column>
      <e-column field='OrderID' headerText='Order ID' textAlign='Right' width='120'></e-column>
      <e-column field='CustomerID' headerText='Customer ID' width='120'></e-column>
      <e-column field='Freight' textAlign='Right' format='c2' width='120'></e-column>
      <e-column field='ShipCountry' headerText='Ship Country' width='140'></e-column>
  </e-columns>
</ejs-grid> 



